<!DOCTYPE html>
    <html data-ng-app="CiulApp">

      <head>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular-cookies.min.js"></script>
        <script data-require"angular.js@1.1.5" data-semver="1.1.5" src="http://rawgithub.com/Ciul/angular-facebook/master/lib/angular-facebook.js"></script>
        
          <link rel="stylesheet" href="css/default.css" type="text/css"/>
          <script src="lib/bootstrap-growl.min.js"></script>       
          <script src="lib/jquery.autosize.min.js"></script>
          <script src="lib/jquery.easypiechart.min.js"></script>
          <script src="lib/jquery.flot.min.js"></script>
          <script src="lib/jquery.flot.resize.min.js"></script>
          <script src="lib/jquery.nicescroll.min.js"></script>
          <script src="lib/jquery.simpleWeather.min.js"></script>
          <script src="lib/jquery.sparkline.min.js"></script>
          <script src="lib/jquery.sparkline.min.js"></script>
          <script src="lib/moment.min.js"></script>
          <script src="lib/sweet-alert.min.js"></script>
		 
          <script src="lib/google-auth.min.js"></script>
          <script src="lib/script.js"></script>
          <script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>
          <link rel="stylesheet" type="text/css" href="css/daterangepicker-bs3.css" />
          <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
          <script src="lib/ng-bs-daterangepicker.min.js"></script>

          <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
          <script src="lib/waves.min.js"></script>
          <script src="controller/app.js"></script>
          <script src="controller/controller.js"></script>
          <script src="controller/directive/debug.js"></script>
         
           <script type="text/javascript">
              (function() {
               var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
               po.src = 'https://apis.google.com/js/client:plusone.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
             })();
          </script>
      </head>

      <body data-ng-controller="MainController" class="container">
      <div id="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version">
        <span>
            Homer Theme
        </span>
    </div>
<nav class="navbar">
                <div class="container">
               
                    <ul class="nav navbar-nav" style="text-align: right">
                    <li>
                        <a href="#" ng-click="IntentLogin()" data-ng-show="!logged" data-ng-disabled="!facebookReady" >Login with facebook</a>
                        
                    </li>
                         <li>
                           <a href="#" ng-click="logout()" data-ng-show="logged" data-ng-disabled="!facebookReady" >Logout</a>
                    </li>
                         <li>
                           <a href="#" ng-click="googleLogin()" data-ng-show="!logged" data-ng-disabled="!facebookReady" >Login with Google</a>
                    </li>
                           <li>
                           <a href="#" ng-click="createTrips()" data-ng-show="logged" data-ng-disabled="!facebookReady" >Create Trip</a>
                    </li>
                    </ul>
             </div>
            </nav>
</div>
          
            <div  data-ng-show="!logged" style="padding-left:28%">
            	<img alt="banner" src="css/images/banner.png"><h1 style="font-size:60px">Plan your trip <br/>in <span style="font-weight:bold;color:#FF8100;font-size:100px">Group</span></h1>
            </div>
          <div class="row" style="margin-top:10px;">    
          <div class="col-md-3" >
        
	            <div class="panel panel-default" ng-show="logged" style="background:rgba(255,255,255,0.8019);min-width:200px;">
                        <div class="panel-body">
                            <div>
                              <div class="row">
                              <div class="col-md-5" style="width: 25.66666666666667%;">
                                  <img src="{{pic}}" alt="" style="margin:5px;width:50px;height:50px"> 
                              </div> 
                              <div class="col-md-7" >
                                  <h6><strong>{{user.fname}} {{user.lname}}</strong> <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{user.placesLived[0].value}}</h6>
                              </div>
                              </div> 
                            </div>
                            
                            <div >
                             
                            </div>
                           
                            <hr></hr>
                            <div style="padding-left:10px"><h6 style="margin-bottom:0px;"><strong>Profile</strong></div>
                            <div style="padding-left:10px"><h6 style="margin-bottom:0px;"><a ng-click="getAllTrip()"><strong>Trips planned</strong></a> <span><img alt="none" src="css/images/hourglass.gif" ng-show="showprogress"></img></span></h6>  
                          
                            <div style="padding-left:10px;" ng-repeat="trip in userTrips">
                            <a href="#" style="font-size:13px;font-weight:bold;text-decoration: none;" ng-click="gotoTrip(trip)"><img alt="icon" src="css/images/tripicon.png">&nbsp;&nbsp;{{trip.name}}</a>
                            </div>
                            </div>
                            
                        </div>
                            </div>
         </div>
                 
          <div class="col-md-8">
           
                           <div class="panel panel-default" ng-show="logged" style="padding:15px;width:100%;background:rgba(255,255,255, 0.801961);min-width:224px;">
                               <div class="panel-body">
                            <div ng-show="!tripSaved">
                                <h5><strong>Create Trip</strong>  <small>Invite friends,discuss, locate and plan trips</small></h5>
                           
                                   <div>
                                       <div class="form-group" ng-class="trip.nameStatusClass">
                                            <label class="control-label" for="inputError1">{{trip.nameError}}</label>
                                       <input ng-model="trip.name" ng-blur="print place" class="form-control input-sm form-input-margin" placeholder="Trip Name" required = "true"/>
                                           </div>
									<div class="form-group" ng-class="trip.aboutTripStatusClass">
                                         <label class="control-label" for="inputError1">{{trip.aboutError}}</label>
										<textarea ng-model="trip.aboutTrip" class="form-control input-sm form-input-margin" placeholder="Tell something about your trip" style="resize:none;height:100px;" required= "true"></textarea>
                                       </div>
                                       
                                    <input type="daterange" ng-model="trip.date" class="form-control input-sm form-input-margin">
                                    
                                       <div class="form-group" ng-class="trip.destStatusClass">
                                        <label class="control-label" for="inputError1">{{trip.destError}}</label>
                                           <input ng-model="trip.destination" googleplace ng-blur="print place" class="input-sm form-control form-input-margin" placeholder="where you want to go?"/>
                                       </div>
                                       <div class="form-group" ng-class="trip.emailStatusClass">
                                        <label class="control-label" for="inputError1">{{trip.emailError}}</label>
                                        <input required= "true" ng-model="trip.memberEmail" ng-blur="print place" class="form-control form-input-margin input-sm" placeholder="you can enter email of your friends who are joining with you in trip.(seperated by ';')" />
                                       </div>
                                       <div class="form-group" ng-class="trip.msgToFriendsStatusClass">
                                        <label class="control-label" for="inputError1">{{trip.msgToFriendsError}}</label>
                                       <textarea ng-model="trip.messageToFriends" class="form-control form-input-margin input-sm" placeholder="Message to friends." required= "true" style="resize:none;height:100px;"></textarea>
                                       </div>
                                       <button type="button" class="btn btn-primary btn-xs" ng-click="createTrip();">Create</button>
                                    </div>
                         </div>
                         
                          <div ng-show="tripSaved">        
                         <span  style="font-size:13px">
                                 <a style="color:brown;font-weight:bold;text-decoration: none;" href="#tab-x" aria-controls="tab-x" role="tab" data-toggle="tab" aria-expanded="false">
                                   {{tripHeader}}
                                 </a>
                              </span>&nbsp;&nbsp;&nbsp;               
                              <span  style="font-size:13px">
                                 <a href="#tab-1" aria-controls="tab-1" role="tab"  data-toggle="tab" aria-expanded="true">
                                    Home
                                 </a>
                              </span>&nbsp;&nbsp;&nbsp;
                               <span  style="font-size:13px">
                                 <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" aria-expanded="false">
                                     Search places
                                 </a>
                              </span>&nbsp;&nbsp;&nbsp;
                              <span  style="font-size:13px">
                                   <a href="#tab-3" aria-controls="tab-2" role="tab" data-toggle="tab" aria-expanded="false">
                                    Suggestion
                                 </a>
                              </span>
                               &nbsp;&nbsp;&nbsp;
                              <span   style="font-size:13px">
                                    <a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" aria-expanded="false">
                                        Schedule
                                          </a>
                                   </span>
                      
                             <br/>
                              <br/>
                        
                                <div class="tab-content p-20">
                                <div role="tabpanel" class="tab-pane animated fadeIn " id="tab-x">
                                <h6><strong>Trip Name</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{trip.name}}</h6> 
                                <h6><strong>About Trip</strong><br/>{{trip.aboutTrip}}<br/></h6>
                                <h6><strong>From</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{trip.fromDate | limitTo:10}}</h6>  
                                <h6><strong>To</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{trip.toDate | limitTo:10}}</h6>  
                                 <h6><strong>Destination</strong>&nbsp;&nbsp;&nbsp;{{trip.destination}}</h6>  
                                 <h6><strong>Members</strong></h6>
                                 <h6>You<span ng-repeat="item in trip.friends">, {{item.email}}</span></h6>
                                 <h6><a>Add members</a></h6>
                                </div>
                                    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab-1" >                               
                                     <!--    <div style="width:500px;">
                                                   <Strong>Trip Name </Strong>  {{trip.name}}
                                                    <br/>
                                                    <Strong>About the trip </Strong>{{trip.description}}
                                                    <br/>
                                                    <Strong>Members </Strong>{{trip.memberEmails}}
                                                   <br/>
                                          </div>-->
                                        <textarea ng-model="thoughts" class="form-control" placeholder="share your thoughts" style="resize:none;height:60px;" required= "true"></textarea>
                                        <div style="text-align: right;padding-top:5px;" >
                                      <span><img alt="none" src="css/images/hourglass.gif" ng-show="showpostprogress"></img></span>  <button type="button" class="btn-primary btn btn-xs" ng-click="createPost()">post</button>
                                        </div>
                                        <br/>
                                        <div ng-repeat="discuss in trip.discussion | orderBy:'-id'">
        <div class="hpanel hblue">
            <div class="panel-body">
                <div class="media social-profile clearfix">
                    <a class="pull-left">
                     <img class="message-avatar" src="{{discuss.pic}}" alt="">
                    </a>
                    <div class="media-body">
                        <a class="message-author" href="#"><h6 style="margin-top:3px;margin-bottom:3px;">{{discuss.user}}</h6></a>
                        <small class="text-muted"> {{discuss.dateTime}}</small>
                    </div>
                </div>

                <div class="social-content m-t-md">
						{{discuss.post}}
                </div>
            </div>
            <div class="panel-footer">
                <div class="social-talk" ng-repeat="comment in discuss.comment" >
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                             <img class="message-avatar" src="{{comment.pic}}" alt="" style="width:25px;height:25px;">
                        </a>

                        <div class="media-body">
                            <span class="font-bold">{{comment.name}}</span>
                      
                            <div class="social-content">
                                {{comment.comment}}
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="social-form">
                    <textArea style="width:100%;height:40px" ng-enter="saveComment(discuss);" class="form-control" ng-model="discuss.userComment"></textArea>
                </div>
            </div>
        </div>
        
    </div>
                  
                                    </div>
                                    <div role="tabpanel" class="tab-pane animated fadeIn " id="tab-2">
                                      <input ng-model="trip.destinationPlace" ng-enter="getSearchResultforDestination()" googleplace ng-blur="print place" class="input-sm form-control" placeholder="where you want to go?"/>
                                     
									<br/>
									
								        <div style="width:100%" >
                                        <div class=" galleryItem" ng-repeat="result in searchResult">
                                        <div style="text-align:right;">
                                        <img alt="nothing" src="css/images/default.gif" ng-show="suggestProgress"></img>
                                      <span class="label label-success" ng-click="this.nextSibling.css('display', 'block');suggestItems(result);" style="display:inline-block;margin-bottom:5px;font-size:12px;width:25px;cursor: pointer;background:transparent"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:rgb(0, 39, 255);font-size:16px;"></span></span>
               <div class="popover bottom" style="display:none">
               <textarea class="form-control input-sm"></textarea>
               </div>
                                            </div>
					
                                          <img  src="{{result.venue.photos.groups[0].items[0].prefix}}width500{{result.venue.photos.groups[0].items[0].suffix}}" alt="" style="width: 203px;height: 130px;">
                                          
                                          
                                             <p style="font-size:13px;color:darkblue;margin:0px;">{{result.venue.name}}</p> 
                                             
                                             <span style="font-size:10px;color:black">
                                              {{result.venue.location.formattedAddress[0]}}
                                             	        {{result.venue.location.formattedAddress[1]}}
                                                        {{result.venue.location.formattedAddress[2]}}<br/>
                                              {{result.venue.hours.status}}</span>   
                                             
                                        </div>
                        </div>
                      
						
						
                                    </div>
                                    
                                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-3">
                               
                                              <div class=" galleryItem" ng-repeat="result in trip.suggestion">
                                        <div style="text-align:right;">
                                            </div>
					
                                          <img  src="{{result.photo}}" alt="" style="width: 203px;height: 130px;">
                                          
                                          
                                             <p style="font-size:13px;color:darkblue;margin:0px;">{{result.name}}</p> 
                                             
                                             <span style="font-size:10px;color:black">
                                              {{result.address1}}
                                             	        {{result.address2}}
                                                        {{result.address3}}<br/>
                                              {{result.status}}</span>   
                                             0
                                             
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                           </div>
                        
                   
                     </div>
</div>

      </body>

    </html>